body, html {
    height: 100%;
    background-color: grey;
}
.bg { 
    /* The image used */
    /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg"); */
    background-image: url("images/beachsm.jpg");
    

    /* Half height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.smallIcon {
    width: 120px;
    height: 120px;
}
.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right{
    text-align: right;
}
.indexHead {
    text-align: center;
    color: white;
    font-family: fantasy;
}
#txtLg {
    font-size: calc(3vw + 3vh + 1vmin);
}
#txtMd {
    font-size: calc(2vw + 2vh + 1vmin);
}
.strokeme
{
    color: #fff;
    text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;  
}
#content {
    width: 80%;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.gap {
    margin-bottom: 1%;
}
.norm {
    text-decoration: none;
}